{# specifies the overall style #}
<style type="text/css">
tr
{
    font-family: Sans;
    font-size: 10;
}
td
{
    padding:2px 8px 2px 8px; {# space between rows and columns #}
    font-family: Sans;
    font-size: 10;
}
</style>

{# big table of cages #}
<table border="0" style="text-align: center; border-collapse: collapse">
    {# header row #}
    <tr>
        <th>cage</th>
        <th>prop.</th>
        <th>mouse</th>
        <th>sex</th>
        <th>genotype</th>
        <th>DOB</th>
        <th>age</th>
        <th>needs</th>
        <th>notes</th>
    </tr>
    
    {# iterate over every cage #}
    {% for cage in object_list %}
        {% if not cage.defunct %}
            {# display some error text if the cage is empty #}
            {% if not cage.mouse_set.all %}
                <td> {{ cage.name }} </td>
                <td>{{ cage.proprietor }} </td>
                <td>EMPTY</td>
            {% endif %}
            
            {# loop over mice in the cage, with a border above the first one #}
            {% for mouse in cage.mouse_set.all %}
            <tr {% if forloop.counter0 == 0%} style="border-top: thin solid" {% endif %}>
                {# only print name and proprietor for first one #}
                <td> {% if forloop.counter0 == 0 %} {{ cage.name }} {% endif %} </td>
                <td> {% if forloop.counter0 == 0 %} {{ cage.proprietor }} {% endif %} </td>

                {# Colorize the mouse name for breeding mothers and fathers #}
                {% if mouse.can_be_breeding_mother %}
                    <td><font color='red'>{{ mouse.name }}</font></td>
                {% elif mouse.can_be_breeding_father %}
                    <td><font color='blue'>{{ mouse.name }}</font></td>
                {% elif mouse.still_in_breeding_cage %}
                    <td>{{ mouse.name }}</td>
                {% else %}
                    <td>{{ mouse.name }}</td>
                {% endif %}
                
                {# print sex, genotype, dob #}
                <td>{{ mouse.get_sex_display }}</td>
                <td>{{ mouse.genotype }}</td>
                <td>{{ mouse.dob|date:"Y-m-d" }}</td>
                <td>{% if mouse.age %} {{ mouse.age }} {% endif %}</td>
                
                {# print needs for first mouse in cage #}
                {% if forloop.counter0 == 0 and cage.needs %}
                    <td>{{ cage.needs }} on {{ cage.need_date|date:"m-d" }}</td>
                {% else %}
                    <td />
                {% endif %}
                
                {# print notes for first mouse in cage #}
                {% if forloop.counter0 == 0 %}
                    <td>{{ cage.notes }}</td>
                {% else %}
                    <td />
                {% endif %}                
            </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>
    
